*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    background-image: url(background.jpg);
    }

    header{
        font-family: Arial, Dancing Script ;
        margin:0;
        width: 100%;
        background-color: #d4423e;
        padding:10px;
    }

    header h1{
        color:white;
        justify-content: left;
        font-family: 'Dancing Script';
        font-size: 30px;
    }

    nav {
        width: 100%;
        display: flex;
        justify-content:space-between;
    }

        nav  a{
            text-decoration: none;
            font-size: 20px;
            color: white;
            padding: 5px 15px; /* 5px en haut et en bas, 15px de chaque cotés */
            font-family: sans-serif;
            justify-content: center;
        }
    }
    
    ul{
        text-align: right;
        
        }

nav a:hover {
    background-color: #b32c28;
 padding:60px;
}   



h2{
    font-family: 'Dancing Script';
    background-repeat: no-repeat;
    color:#b32c28 ;
    display: flex;
    justify-content: space-around;
    padding-right: 1200px;
}

.container{
    width: 80%;
    margin:auto;
    background-color: white;
}

.container h1{
    padding:20px;
    text-align: center;   
    color:#b32c28;
    font-family: 'Dancing Script';
    font-size: 30px;}

    .partie2{
        width: 60%;
        display:flex;
        justify-content: space-around;
    }

    figure{
       margin-right: 100px;
        width: 15%;
        display:inline-block;
       
    }

figure>figcaption{
    color:white;
    background-color: black;
    border: solid 2px;
    text-align: center;
    width: 200px ;
    height: 80px;
    margin-inline: 80px ;
}

h4{
     color:#b32c28;
    font-family: 'Dancing Script';
    
}



.mail .adresse{
    margin:auto;
    width: 33%;
}


footer{
    padding:20px;
    background-color:#d4423e ;
}

h5{
    color:white;
    text-align: right;
}

#map{
    width: 55%;
    margin-left:30px;
}

div.adresse{
    width: 45%;
    display: inline-block;
   float: right;
    
}
@media (min-width: 200px) and (max-width:800px) {
    nav{
        width: 100%;
        display: inline-block;
    }
    h1{
        width: 100%;
        display: flex;
        text-align: center;
        position: relative;
        margin-left: 25%;
    }

    ul a{
        position: relative;
        display: flex;
        justify-content: center;
    }
}